# https://github.com/prometheus-community/helm-charts/issues/1704#issuecomment-1100607982
apiVersion: v1
kind: ConfigMap
metadata:
  name: metrics-proxy-config
  namespace: kube-system
data:
  haproxy.cfg: |
    defaults
      mode http
      timeout connect 5000ms
      timeout client 5000ms
      timeout server 5000ms
      default-server maxconn 10

    frontend kube-controller-manager-fe
      bind ${NODE_IP}:10257
      mode tcp
      default_backend kube-controller-manager-be

    backend kube-controller-manager-be
      mode tcp
      server kube-controller-manager 127.0.0.1:10257

    frontend kube-scheduler-fe
      bind ${NODE_IP}:10259
      mode tcp
      default_backend kube-scheduler-be

    backend kube-scheduler-be
      mode tcp
      server kube-scheduler 127.0.0.1:10259

    frontend kube-proxy-fe
      bind ${NODE_IP}:10249
      http-request deny if !{ path /metrics }
      default_backend kube-proxy-be

    backend kube-proxy-be
      server kube-proxy 127.0.0.1:10249

    frontend etcd-fe
      bind ${NODE_IP}:2381
      http-request deny if !{ path /metrics }
      default_backend etcd-be

    backend etcd-be
      server etcd 127.0.0.1:2381
