cilium:
  routingMode: native
  ipv4NativeRoutingCIDR: "192.168.0.0/20"

  bpf:
    masquerade: true
    datapathMode: netkit
    distributedLRU:
      enabled: true
    mapDynamicSizeRatio: 0.08

  ipv4:
    enabled: true
  enableIPv4BIGTCP: true

  kubeProxyReplacement: true
  bpfClockProbe: true

  k8sServiceHost: localhost
  k8sServicePort: 7445

  ipam:
    mode: kubernetes
  securityContext:
    capabilities:
      # remove SYS_MODULE
      ciliumAgent: [ CHOWN, KILL, NET_ADMIN, NET_RAW, IPC_LOCK, SYS_ADMIN, SYS_RESOURCE, DAC_OVERRIDE, FOWNER, SETGID, SETUID ]
      cleanCiliumState: [ NET_ADMIN, SYS_ADMIN, SYS_RESOURCE ]
  cgroup:
    autoMount:
      enabled: false
    hostRoot: /sys/fs/cgroup
