hostname: &hostname argocd.ncraig.dev

argo-cd:
  global:
    domain: *hostname

  configs:
    params:
      server.insecure: true
      controller.diff.server.side: true
    rbac:
      policy.csv: |
        g, argocd_admins@sso.ncraig.dev, role:admin
        g, homepage, role:readonly
    cm:
      admin.enabled: false
      accounts.homepage: apiKey
      oidc.config: |
        name: "Kanidm"
        issuer: "https://sso.ncraig.dev/oauth2/openid/argocd"
        clientID: argocd
        clientSecret: $oidc.client.secret
        requestedScopes:
          - "openid"
          - "profile"
          - "email"
          - "groups"
        requestedIDTokenClaims:
          groups:
            essential: true
    ssh:
      extraHosts: |
        git.ncraig.dev ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCjlMHfQ55RMQ0/V/c+TnWqQTUIPbQ57r6uOZCt6yiUbiVqASaQTTPktBFXebCsjvGPYgLELIvkZcDTlANYDD3t2aRJW8AdXnddPgoUeytDIkFTBu9azMQ3AIrYma9zpW3CK5sMJqaBassNhLFsEPr08BpMptZ+iqfe365NVDxrOX0u2Bv12RKGHy8/oN3CVjmBFXiPdHkja2A09QCd3xchQouxdK9nQgV8/tfbFoLgeOPzo6QLLFNr4coLyI5N9g6NVKk59YepE+33CVntk4F1BA5ScRMOpx8mUR8Ghf47W/qe+C8cPiQFm8AUtP5X+3K6H4bVsKDuVfjo/PhoJttwBajYYYnbmtypyQVnSS2U573yNJN5Azz/aOSykVFJ442Iyxp+gm4kmvq3eDJXAFaQlk+lwU8JVTGSB05MCMAA22Kai0lEBa9ygiYjHXITKT2nodJLOIOGBOdcyPnLPJmwYAUjGpr6dnj25vzHyWUP4djcyHf1j34HGGXscwZRAg2zzkSkEJzQdWps9oTxqciq2L3V+Q+SRElZVmXEqCeaFlx9IfvsUWJ3ibiPE9Uhi45+3mOzIfWMPGMvl+kia6yytbipXhIHJw9XpmBaeGYz4Qre5r4zZHa/dAnBymJiq4+n2pY0Ga5IjkjaBryApn4nbe8AeFjrjSluBeBJJsKubQ==

    secret:
      createSecret: false

  server:
    replicas: 1

  repoServer:
    initContainers:
    - name: install-helm-plugins
      image: alpine/helm
      volumeMounts:
      - name: helm-working-dir
        mountPath: /helm-working-dir
      env:
      - name: HELM_CACHE_HOME
        value: /helm-working-dir
      - name: HELM_CONFIG_HOME
        value: /helm-working-dir
      - name: HELM_DATA_HOME
        value: /helm-working-dir
      command: ["/bin/sh" "-c"]
      args:
      - helm plugin install https://github.com/aslafy-z/helm-git

  dex:
    enabled: false

argocd-apps:
  applicationsets:
    root:
      namespace: argocd
      goTemplate: true
      goTemplateOptions: [ "missingkey=error" ]
      ignoreApplicationDifferences:
      - jsonPointers:
        - /spec/syncPolicy
      generators:
      - git:
          repoURL: &repoURL https://github.com/Tyraeis/minilab.git
          revision: &revision main
          directories:
          - path: system/*
          - path: platform/*
          - path: apps/*
      template:
        metadata:
          name: "{{.path.basenameNormalized}}"
        spec:
          project: default
          source:
            repoURL: *repoURL
            targetRevision: *revision
            path: "{{.path.path}}"
          destination:
            name: in-cluster
            namespace: "{{.path.basename}}"
          syncPolicy:
            automated:
              prune: true
              selfHeal: true
            retry:
              limit: 10
              backoff:
                duration: 5s
                factor: 2
                maxDuration: 3m
            syncOptions:
            - CreateNamespace=true
            - ApplyOutOfSyncOnly=true
            - ServerSideApply=true
